header{
    background-image: url("https://assets.ccbp.in/frontend/dynamic-webapps/library-management-bg.png");
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1{
    color: #fff;
}
header input{
    height: 40px;
    width: 400px;
}

ul{
    display: flex;
    flex-wrap: wrap;
}